@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,300;0,9..40,700;1,9..40,400&display=swap');
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

.container {
    display: flex;
    width: 100vw;
    height: 90vh;
}

nav {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 90vh;
    background-color: #000000;
}

section {
    flex: 8;
    background: #000;
    height: 90vh;
}

.logo img {
    width: 131px;
    height: 40px;
    margin-top: 19px;
    margin-left: 24px;
    margin-bottom: 24px;
}

.menu>ol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.menu-list {
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
}

.menu-list li {
    display: flex;
    width: 210px;
    height: 40px;
    flex-shrink: 0;
    align-items: center;
    margin-left: 10px;
    padding: 12px;
    margin-right: 10px;
    margin-top: 10px;
}

.menu-list>li>span {
    background-color: white;
}

.menu>ol>li:hover {
    border-radius: 4px;
    background: #282828;
}

.menu>ol>li>img {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    margin-right: 20px;
}

.menu-header {
    margin: 25px 0px 20px 0px;
    padding-left: 24px;
}

.menu-header h5 {
    color: #B3B3B3;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
}

#img1 {
    width: 37.057px;
    height: 37.057px;
    border-radius: 1px;
    background: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

#img2 {
    display: flex;
    width: 37.057px;
    height: 37.057px;
    border-radius: 1px;
    background: linear-gradient(135deg, #4000F4 0%, #603AED 22.48%, #7C6EE6 46.93%, #979FE1 65.71%, #A2B3DE 77.68%, #ADC8DC 88.93%, #C0ECD7 100%);
    ;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.bar {
    width: 184px;
    height: 1px;
    background-color: #282828;
    margin-left: 24px;
    margin-top: 10px;
}

.thumbnail {
    position: absolute;
}

.thumbnail img {
    /* display: none; */
    position: fixed;
    width: 230px;
    height: 230px;
    bottom: 150px;
    left: 0;
}

.header {
    height: 719px;
    background: linear-gradient(180deg, #90AEA7 0%, #000 89.7%);
}

.card {
    display: flex;
    align-items: center;
    width: 900px;
    height: 240px;
    margin-left: 0px;
    padding-top: 150px;
    box-sizing: border-box;
}

.card img {
    width: 230.97px;
    height: 233.069px;
    flex-shrink: 0;
    display: flex;
}

.details {
    text-align: left;
    padding-top: 25px;
}

.details>span {
    color: #FFF;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.26px;
}

.details>p {
    color: #e7e7e7;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 146.9%;
    /* 20.566px */
    letter-spacing: -0.28px;
}

.insight {
    display: flex;
    align-items: center;
}

.insight>p {
    color: #FFF;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 146.9%;
    margin: 2px;
    letter-spacing: -0.3px;
}

.insight>span {
    width: 4px;
    height: 4px;
    flex-shrink: 0;
    border-radius: 50%;
    background-color: white;
    margin: 5px;
}

.details>h3 {
    color: #FFF;
    font-size: 70px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: -1.8px;
}

.songs-card {
    margin-top: -411px;
    background: #2f383645;
    height: 476px;
}

.card-header {
    display: flex;
    padding-top: 20px;
    padding-left: 20px;
}

.card-header>img {
    margin-right: 20px;
}

.card-container {
    margin-top: 40px;
    padding: 10px;
}

.card-container table {
    width: 100%;
    text-align: center;
    margin-left: 25px;
}

.card-container table>tr {
    padding-top: 20px;
}


/* 
.row {
    width: 100%;
    height: 50px;
    align-items: center;
    padding: 15px;
    margin-top: 10px;
} */

.col-25 {
    display: flex;
    justify-content: end;
    align-items: center;
}

.col-50 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
}

.title {
    text-align: left;
    width: 100%;
}

.row:hover {
    border-radius: 6px;
    background: #282828;
}

.title>p {
    color: #FFF;
    font-size: 16px;
}

.title>span {
    color: #FFF;
    font-size: 14px;
}

.col-50>span {
    margin-left: 10px;
    margin-right: 15px;
    color: white;
}

.col-50>img {
    margin-left: 10px;
    margin-right: 15px;
}

.col-25>img {
    width: auto;
    height: auto;
}

.col-25>p {
    margin-left: 10px;
}

.card-container table tr th {
    color: #FFF;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1.32px;
    margin: 10;
    text-align: center;
}

.card-container table tr td>p {
    color: #FFF;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1.32px;
    margin: 10;
}

footer {
    height: 10vh;
    background: #181818;
}